<!DOCTYPE html>
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao.html}">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/lista-vinhos.css}" />
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-8">
						<h1>
							Lista vinhos
						</h1>
					</div>

					<div class="col-xs-4">
						<div class="aw-page-header-controls">
							<a class="btn btn-primary" th:href="@{/vinhos/novo}">
								<i class="fa fa-plus-square"></i>

								<span class="hidden-xs hidden-sm">Cadastro vinho</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="alert  alert-success"
				 th:if="${!#strings.isEmpty(message)}">
				<i class="fa fa-check-circle"></i>

				<span th:text="${message}">Mensagem sucesso!</span>
			</div>

			<div class="table-responsive">
				<table id="tabela-produtos" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
					<thead class="aw-table-header-solid">
						<tr>
							<th class="av-table-vinhos-col-codigo">Código</th>
							<th>Nome</th>
							<th class="av-table-vinhos-col-tipo">Tipo</th>
							<th class="av-table-vinhos-col-valor">Valor</th>
							<th class="av-table-vinhos-col-icons"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="vinho: ${vinhos}">
							<td class="text-center"
								th:text="${vinho.id}">1</td>

							<td>
								<a th:href="@{/vinhos/{id}(id=${vinho.id})}"
									th:text="${vinho.nome}">Vinho Azul</a>
							</td>

							<td th:text="#{|tipoVinho.${vinho.tipo}|}">Tinto</td>

							<td class="text-right"
								th:text="|R$${{vinho.valor}}|">55,00</td>

							<td class="text-center">
								<form method="POST"
									  onsubmit="return confirm('Confirmar remoção?');"
									  th:action="@{/vinhos/{id}(id=${vinho.id})}">
									<input type="hidden" name="_method" value="DELETE" />

									<button type="submit" class="btn btn-danger btn-xs">
										<span class="fa fa-trash"></span>
									</button>
								</form>
							</td>
						</tr>

<!--						<tr th:if=" ${vinhos == null} or ${vinhos?.empty}">-->
						<tr th:if="${vinhos.empty}">
							<td colspan="5">Nenhum vinho cadastrado</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>
</html>
